<div class="row row-border">
    <div class="media">
        <div class="media-left">
            <img src="./images/profile.jpeg" class="media-object img-thumbnail" alt="profile">
            <h3>{{username}}</h3>

            <div>
               <a href="#/waitinglist" class="btn btn-primary">Start Application for your kids</a>
            </div>
        </div>

        <div class="media-body">
            <div class="applicationStatus" ng-controller="wListController">
                <h3 class="media-heading">Application Status</h3>
                <p>Your application for {{applications.chLname}} is pending.</p>
            </div>

        </div>
    </div>
</div>
<div class="row row-border">
    <div>
        <h2>Notification</h2>
    </div>
    <div>
        <P>Dear Room 1 Parent:
            We are so happy to have upcoming PTA event on January 12, 2016. We have our official Room 1 leaders for the 2015/2016 PTA. Crystal (mom of Audrey) Christy (mom of Selah). You may remember that during the parent orientation you were asked to provide your information to share with other parents in the class. The below link will take you to a list that we hope you'll use to plan play dates, send information about community events for kids or to share information other parents may find useful. Plese review
    </div>
</div>
</div>