

		<div class="subcon">
			<div class="ap">
				<h3>Application Priority</h3>
				<p>Space is reserved on a descending order, with priority given to:</p>
				<ol>
					<li>Current families who have been part of the KOC community for at least three months. Alumni sibling priority begins at 2 years of age.</li>
					<li>Children of full time faculty and staff.</li>
					<li>Children of part time faculty and staff.</li>
					<li>Children of part time students.</li>
					<li>Grandchildren of faculty and staff.</li>
					<li>Children of alumni (not eligibale for the Infant-Toddler program)</li>
				</br>
				</ol>
			</div>
			
			<div class="program row">
				<h2>Programs</h2>
				<div class="p1">
					<h3>Infant (6 weeks - 30 months)</h3>
					<h4>Starfish & Sea Otter Classrooms</h4>
					<p>Tutution Fee:$1440 per month.</p>
					<p>Kids on Campus is designed for children whose parent(s) are SCU faculty, staff, students and alumni. Our Infant/Toddler Program accepts children 6 weeks through 30 months of age. Admission to Kids on Campus is handled through a waiting list on which all applicants must be registered. If you decline an offered spot, you must resubmit an application. In order for unborn infants to be placed on the wait list, families must have a due date. It is often impossible to predict when and how quickly openings will be available at KOC. We strive to maintain age and gender balance in classrooms.</p>
					<div class="apply">
						<a href="signup.html">Apply Now</a></br>
					</div>
				</div>
				<div class="p2">
					<h3>Preschool Program 1(2.5 years - 3.5 years)</h3>
					<p>Tutution Fee: T/TH $460 per month; M/W/F or 5 mornings $660 per month; M-F $1100 per month;</p>
					<p>Kids on Campus is designed for children whose parent(s) are SCU faculty, staff, students and alumni. Our Infant/Toddler Program accepts children 6 weeks through 30 months of age. Admission to Kids on Campus is handled through a waiting list on which all applicants must be registered. If you decline an offered spot, you must resubmit an application. In order for unborn infants to be placed on the wait list, families must have a due date. It is often impossible to predict when and how quickly openings will be available at KOC. We strive to maintain age and gender balance in classrooms.</p>
					<div class="apply">
						<a href="signup.html">Apply Now</a></br>
					</div>				
				</div>
				<div class="p3">
					<h3>Preschool Program 2(3 years - 5 years)</h3>
					<p>Tutution Fee: T/TH $400 per month; M/W/F or 5 mornings $570 per month; M-F $950 per month;</p>
					<p>Kids on Campus is designed for children whose parent(s) are SCU faculty, staff, students and alumni. Our Infant/Toddler Program accepts children 6 weeks through 30 months of age. Admission to Kids on Campus is handled through a waiting list on which all applicants must be registered. If you decline an offered spot, you must resubmit an application. In order for unborn infants to be placed on the wait list, families must have a due date. It is often impossible to predict when and how quickly openings will be available at KOC. We strive to maintain age and gender balance in classrooms.</p>
					<div class="signup.html">
						<a href="#">Apply Now</a></br>
					</div>
				</div>	
				<div class="row-border"></div>			
			</div>
		</div>	
